<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="/js/client.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="full-page">
            <div id="container">
                <h1>
                    <div id="title">
                        This is my blog post
                    </div>
                    <div id="author">
                        Written by ...
                    </div>
                </h1>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Eget arcu dictum varius duis at consectetur lorem donec. Placerat in 
                        egestas erat imperdiet. Sit amet porttitor eget dolor morbi non arcu risus. 
                        A scelerisque purus semper eget duis at tellus at urna. Adipiscing bibendum est 
                        ultricies integer quis auctor. Quis commodo odio aenean sed adipiscing diam 
                        donec. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. 
                        Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a. 
                        Eu consequat ac felis donec. Eu consequat ac felis donec. Imperdiet
                        sed euismod nisi porta lorem mollis aliquam. Est ullamcorper eget nulla 
                        facilisi etiam dignissim diam quis enim. Nisi est sit amet facilisis magna 
                        etiam tempor orci eu.
                    </p>
                    <p>
                        Vel fringilla est ullamcorper eget nulla facilisi. Nisl suscipit adipiscing bibendum 
                        est ultricies integer quis auctor. Sit amet nulla facilisi morbi tempus iaculis urna 
                        id volutpat. Diam ut venenatis tellus in. Sem et tortor consequat id porta nibh venenatis 
                        cras. Lectus nulla at volutpat diam. Fermentum iaculis eu non diam phasellus vestibulum. 
                        Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Leo duis 
                        ut diam quam nulla porttitor massa id neque. Quisque sagittis purus sit amet volutpat 
                        consequat mauris. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. 
                        Parturient montes nascetur ridiculus mus mauris vitae ultricies leo.
                    </p>
                    <p>
                        Dolor sed viverra ipsum nunc aliquet. Faucibus interdum posuere lorem ipsum dolor. 
                        Quis blandit turpis cursus in hac habitasse platea dictumst. Venenatis urna cursus 
                        eget nunc scelerisque viverra mauris. Odio morbi quis commodo odio aenean sed. 
                        Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Varius sit 
                        amet mattis vulputate. Pulvinar elementum integer enim neque volutpat ac. Pharetra 
                        et ultrices neque ornare aenean euismod elementum nisi. Quis imperdiet massa 
                        tincidunt nunc pulvinar sapien. Amet mattis vulputate enim nulla aliquet porttitor 
                        lacus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. 
                    </p>
                </article>
                <div id="comment-container">
                    <form action="/insert-comment" id="comment-form">
                        <div id="comments">
                            <textarea id="comment" placeholder="Thoughts?" rows="5" cols="90" name="comment" required></textarea>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input required pattern="^[^\s]+$" type="text" class="form-control" id="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </form>
                    <button id="submit" type="submit" form="comment-form" class="btn btn-secondary btn-block">Comment</button>
                </div>
                <div id="all-comments">
                    {{# each items}}
                        <p class="each-comment">
                            {{this.username}}:
                            {{this.comment}}
                            {{this.date}}
                        </p>
                    {{/each}}
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>