
{{#if this.loggedIn}}
<h2>
    Logged in as: {{this.currentUser}}
    <form id="logout" action="/logout" method="post">
        <button type="submit" form="logout" class="btn btn-secondary">Logout</button>
    </form>
</h2>
{{else}}

{{/if}}